
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Temp/UnityLockfile
Temp/
Library/
Assembly-CSharp.csproj
Assembly-CSharp.csproj.orig
Assembly-CSharp-vs.csproj
Assembly-CSharp-vs.csproj.orig
Library/assetDatabase3
Library/guidmapper
Library/InspectorExpandedItems.asset
Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
Library/assetDatabase3
Library/AssetServerCacheV3
Library/guidmapper
Library/InspectorExpandedItems.asset
ProjectSettings/TagManager.asset
